body {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    background-color: rgb(41, 41, 41);
}

.row {
    height: 100vh;
    background-color: white;
    flex-direction: row;
    display: flex;

    
}

.banner {
    flex: 1;
    display: flex;

   
}
.logo {
    position: absolute;
    align-self: center;
    justify-content: center;
}
.ribben {
    background-color: #888;
    padding: 20px;
}
#logo {
    width: 85px;
    height: 141px;
}

.sign-in {
    background-color: whitesmoke;
    flex: 2;
}


